In [ ]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string

In [ ]:

full_df = pd.read_csv("/content/Selected.csv")
df = full_df[["text"]]
df["text"] = df["text"].astype(str)
full_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

  Application_ID  ...                                               text
0    BAI10010252  ...  Your application was Last updated on 07-MAR-20...
1    BAI10010469  ...  Your application was Last updated on 29-JAN-20...
2    BAI10010770  ...  Your application was Last updated on 22-FEB-20...
3    BAI10010547  ...  Your application was Last updated on 19-MAR-20...
4    BAI10020838  ...  Your application was Last updated on 27-MAR-20...

[5 rows x 4 columns]

In [ ]:
df["text_lower"] = df["text"].str.lower()
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                                text                                         text_lower
0  Your application was Last updated on 07-MAR-20...  your application was last updated on 07-mar-20...
1  Your application was Last updated on 29-JAN-20...  your application was last updated on 29-jan-20...
2  Your application was Last updated on 22-FEB-20...  your application was last updated on 22-feb-20...
3  Your application was Last updated on 19-MAR-20...  your application was last updated on 19-mar-20...
4  Your application was Last updated on 27-MAR-20...  your application was last updated on 27-mar-20...

In [ ]:

PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["text_wo_punct"] = df["text_lower"].apply(lambda text: remove_punctuation(text))
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                                text  ...                                      text_wo_punct
0  Your application was Last updated on 07-MAR-20...  ...  your application was last updated on 07mar2019...
1  Your application was Last updated on 29-JAN-20...  ...  your application was last updated on 29jan2019...
2  Your application was Last updated on 22-FEB-20...  ...  your application was last updated on 22feb2019...
3  Your application was Last updated on 19-MAR-20...  ...  your application was last updated on 19mar2019...
4  Your application was Last updated on 27-MAR-20...  ...  your application was last updated on 27mar2019...

[5 rows x 3 columns]

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [ ]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["text_wo_stop"] = df["text_wo_punct"].apply(lambda text: remove_stopwords(text))
df.head()

                                                text  ...                                       text_wo_stop
0  Your application was Last updated on 07-MAR-20...  ...  application last updated 07mar2019 220013 eepl...
1  Your application was Last updated on 29-JAN-20...  ...  application last updated 29jan2019 205422 eepl...
2  Your application was Last updated on 22-FEB-20...  ...  application last updated 22feb2019 185335 eepl...
3  Your application was Last updated on 19-MAR-20...  ...  application last updated 19mar2019 112214 eepl...
4  Your application was Last updated on 27-MAR-20...  ...  application last updated 27mar2019 135819 eepl...

[5 rows x 4 columns]

In [ ]:
from collections import Counter
cnt = Counter()
for text in df["text_wo_stop"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('•', 26256),
 ('\uf0b7', 20300),
 ('data', 15960),
 ('business', 12063),
 ('project', 11552),
 ('management', 10544),
 ('team', 9840),
 ('–', 9798),
 ('experience', 8866),
 ('india', 7913)]

In [ ]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):
    """custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df["text_wo_stopfreq"] = df["text_wo_stop"].apply(lambda text: remove_freqwords(text))
df.head()

                                                text  ...                                   text_wo_stopfreq
0  Your application was Last updated on 07-MAR-20...  ...  application last updated 07mar2019 220013 eepl...
1  Your application was Last updated on 29-JAN-20...  ...  application last updated 29jan2019 205422 eepl...
2  Your application was Last updated on 22-FEB-20...  ...  application last updated 22feb2019 185335 eepl...
3  Your application was Last updated on 19-MAR-20...  ...  application last updated 19mar2019 112214 eepl...
4  Your application was Last updated on 27-MAR-20...  ...  application last updated 27mar2019 135819 eepl...

[5 rows x 5 columns]

In [ ]:
df.drop(["text_wo_punct", "text_wo_stop"], axis=1, inplace=True)

n_rare_words = 10
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):
    """custom function to remove the rare words"""
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

df["text_wo_stopfreqrare"] = df["text_wo_stopfreq"].apply(lambda text: remove_rarewords(text))
df.head()

                                                text  ...                               text_wo_stopfreqrare
0  Your application was Last updated on 07-MAR-20...  ...  application last updated 07mar2019 220013 eepl...
1  Your application was Last updated on 29-JAN-20...  ...  application last updated 29jan2019 205422 eepl...
2  Your application was Last updated on 22-FEB-20...  ...  application last updated 22feb2019 185335 eepl...
3  Your application was Last updated on 19-MAR-20...  ...  application last updated 19mar2019 112214 eepl...
4  Your application was Last updated on 27-MAR-20...  ...  application last updated 27mar2019 135819 eepl...

[5 rows x 4 columns]

In [ ]:

import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

df["text_lemmatized"] = df["text_wo_stopfreqrare"].apply(lambda text: lemmatize_words(text))
df.head()

                                                text  ...                                    text_lemmatized
0  Your application was Last updated on 07-MAR-20...  ...  application last updated 07mar2019 220013 eepl...
1  Your application was Last updated on 29-JAN-20...  ...  application last updated 29jan2019 205422 eepl...
2  Your application was Last updated on 22-FEB-20...  ...  application last updated 22feb2019 185335 eepl...
3  Your application was Last updated on 19-MAR-20...  ...  application last updated 19mar2019 112214 eepl...
4  Your application was Last updated on 27-MAR-20...  ...  application last updated 27mar2019 135819 eepl...

[5 rows x 5 columns]

In [ ]:
df.drop(["text_wo_stopfreq", "text_wo_stopfreqrare","text_lower","text"], axis=1, inplace=True) 
df.head()

                                     text_lemmatized
0  application last updated 07mar2019 220013 eepl...
1  application last updated 29jan2019 205422 eepl...
2  application last updated 22feb2019 185335 eepl...
3  application last updated 19mar2019 112214 eepl...
4  application last updated 27mar2019 135819 eepl...

In [ ]:
df['Attribute']=full_df['label']

In [ ]:
df.drop(["label"],axis=1,inplace=True)
df.columns=["Sentence","Attribute"]

In [ ]:
df.head()

                                            Sentence  Attribute
0  application last updated 07mar2019 220013 eepl...          0
1  application last updated 29jan2019 205422 eepl...          0
2  application last updated 22feb2019 185335 eepl...          0
3  application last updated 19mar2019 112214 eepl...          0
4  application last updated 27mar2019 135819 eepl...          0

In [ ]:
df.to_csv('cleaned_select.csv')